Repository Butch78/data-linage-test: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, check-yaml, check-toml, codespell

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm run lint --no-warn-ignored {staged_files}
    format:
      glob: "*.{ts,tsx,js,jsx,json,md,css}"
      run: pnpm run format {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run typecheck
    check-yaml:
      glob: "*.{yaml,yml}"
      run: npx yaml-lint {staged_files}
    check-toml:
      glob: "*.toml"
      run: npx @taplo/cli check {staged_files}
    codespell:
      glob: "*.{ts,tsx,js,jsx,md}"
      run: npx cspell --no-progress {staged_files}

chore: fix automation
  .github/workflows/release.yml
  package.json
Due: format, check-yaml

chore: fix automation
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: format, check-yaml

chore: fix automation
  package.json
  pnpm-lock.yaml
Due: format, check-yaml

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format, codespell

feat: add legal agent PoC with data lineage tracking
  legal-agent-poc/.env.example
  legal-agent-poc/Dockerfile
  legal-agent-poc/docker-compose.yml
  legal-agent-poc/requirements.txt
  legal-agent-poc/src/__init__.py
  legal-agent-poc/src/agent.py
  legal-agent-poc/src/main.py
  legal-agent-poc/src/models.py
  legal-agent-poc/src/vectorstore.py
Due: check-yaml

refactor: switch from pip to uv for Python dependency management
  legal-agent-poc/Dockerfile
  legal-agent-poc/pyproject.toml
  legal-agent-poc/requirements.txt
Due: check-toml
